body {
    
    background-image: url(public/fondochat.jpg);
    background-size:cover;
  }

#display{
    font-size:large;
    display: block;
    width: 1400px;
    height: 600px;
    overflow: auto;
    scroll-behavior: smooth;
    margin-left: 250px;
    color: white;
    margin-top: 97px;
    text-align: center;
}

#msg_entry{
    margin-left: 750px;
    width: 400px;
    height: 50px;
}