h1 {
    width: 93%;
    padding: 20px;
    background-color: #B4BDD1;
    border-radius: 10px;
    text-align: center;
  }

.blue {
    color: blue;
}

.red {
  color: red;
}

  #display {
      border: 2px solid lightblue;
      padding: 10px;
  }

  #pantallote{
    color: rgb(0, 0, 0);

  }

#information
{
border:1px solid black;
padding:5px;
background:#B4BDD1;
}